<html>
    <head>
        <title>
            Admin Page
        </title>
        <style>
            .AdminButton {
               width: 200px;
			   height: 80px;
			   margin-top :auto;
               margin-bottom : 100px;
			   margin-left: 100px;
            }
        </style>
    </head>
    <body>
        <a href="~/Admin/AddItem" ><input type="image" src="~/Assets/images/AddButton.png" id="AddItem" class="AdminButton"></a>
        <a href="~/Admin/DeleteItem" ><input type="image" src="~/Assets/images/DeleteButton.png" value="Delete Item" id="DeleteItem" class="AdminButton"></a>
        <a href="~/Admin/UpdateItem" ><input type="image" src="~/Assets/images/UpdateButton.png" value="Update Item" id="UpdateItem" class="AdminButton"></a>
        <a href="~/Admin/ShowMail" ><input type="image" src="~/Assets/images/mail.jpg" value="Mail" id="Mail" class="AdminButton"></a>
    </body>
</html>