@{
    ViewBag.Title = "Forget Password";
}
<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
    <div class="a">
        <input type="text" placeholder="User Name" name="UserName" id="UserName" required=" " />
     </div>
    <div class="a">
           <input type="button" value="Click for Question" id="check" />
    </div>
        <div id="result"></div>
    <div class="a">
        <input type="text" placeholder="Answer" name="Answer" required=" " id="Answer" />
    </div> 
    <div class="a">   
        <input type="button" value="Check Password" id="check1" /> 
    </div>
        <div id="change"></div>
        <a href="~/Home/Login"><input type="button" value="Home"></a>

</div>

<style>
    .a {
        margin-bottom: 10px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $("#check").click(function () {
            var us = $("#UserName").val();
            $.getJSON("/Home/getQuestion?UserName=" + us, function (data) {
                if(data)
                    $("#result").append("<div id=\"result\">"+data+"</div>");
            });
        });
    });
    $(document).ready(function () {
        $("#check1").click(function () {
            var us = $("#UserName").val();
            var ans = $("#Answer").val();
            $.getJSON("/Home/CheckAnswer",{ UserName: us , Answer: ans }, function (data) {
                if (data)
                    $("#change").append("<div id=\"change\">Your Password is : "+data+"</div>");
            });
        });
    });
</script>