@model OnlineShoping.Models.User

			<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
				   <input type="password" placeholder="New Password" name="Password" />
                    <input type="button" id="submit" value="Submit" />
             </div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#UserName").mouseleave(function () {
            var us = (String) @Model.UserName ;
            var pass = $("#Password").val();
            $.getJSON("/Home/SaveUpdatePassword",{UserName: us , Password:pass}, function (data) {

            });
        });
    });
</script>
